#product {
	white-space: pre-line;
}

.itemPhoto {
	max-width: 270px;
	max-height: 135px;
	width: auto;
	height: auto;
	margin-bottom: 3%;
}

body,html {
	font-family: Verdana;
	margin: 0;
	padding: 0;
}

#titleHeader {
	font-size: 2em;
	color: white;
	padding-top: 1%;
}

.itemSpan {
	border: 2px solid black;
	border-radius: 2%;
	margin: 4%;
	padding: 3%;
	height: 200px;
	background-color: white;
}

.itemPhoto:hover {
    transform: scale(1.5);
}

div.footer {
	background-color: #007dc6;
	width: 100%;
	text-align: center;
	color: white;
	margin: 0;
	padding: 3.5%;
	display: inline-block;
	min-height: 40px;
}

#productInfo {
	float: left;
	width: 25%;
	margin-left: 12.5%;
	text-align: center;
	align-items: center;
}

#productInfo2 {
	float: left;
	width: 25%;
	text-align: center;
	align-items: center;
}

#productInfo3 {
	float: left;
	width: 25%;
	margin-right: 10%;
	text-align: center;
	align-items: center;
}

#walmart-header {
	text-align: center;
	align-content: center;
	font-size: 1.2em;
	background-color: #007dc6;
	width: 100%;
	margin: 0;
	padding: 0;
}

#productName {
	width: 250px;
	margin: .75%;
	background-color: #78b9e7;
	color: white;
	margin-bottom: 1.2%;
}

.prevRef {
	float: left;
	margin-left: 14%;
}

.nextRef {
	float: right;
	margin-right: 14%;
}

.prevRef:hover {
	cursor: pointer;
}

.nextRef:hover {
	cursor: pointer;
}

.container {
	width: 100%;
}

#totalItems {
	color: white;
	padding-bottom: 1%;
}

#walmart-header {
	text-align: center;
	align-content: center;
	font-size: 1.2em;
	background-color: #007dc6;
	width: 100%;
	margin: 0;
	padding: 0;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}