#product {
	white-space: pre-line;
}

.itemPhoto {
	max-width: 270px;
	max-height: 135px;
	width: auto;
	height: auto;
	margin-bottom: 3%;
}

body,html {
	font-family: Verdana;
	margin: 0;
	padding: 0;
}

#titleHeader {
	font-size: 2em;
	color: white;
	padding-top: 1%;
}

.itemSpan {
	border: 2px solid black;
	border-radius: 2%;
	margin: 4%;
	padding: 3%;
	height: 250px;
	background-color: white;
}

.itemSpan2 {
	/*border: 2px solid black;*/
	border-radius: 2%;
	margin: 4%;
	padding: 3%;
	height: auto;
	background-color: white;
}

.itemSpan3 {
	/*border: 2px solid black;*/
	border-radius: 2%;
	margin: 4%;
	padding: 3%;
	height: auto;
	background-color: white;
	border: 2px solid black;
}

.center {
	align-content: center;
	margin: 3% 32%;
	max-width: 300px;
}


.itemPhoto:hover {
    transform: scale(1.5);
}

div.footer {
	background-color: #007dc6;
	width: 100%;
	text-align: center;
	color: white;
	margin: 0;
	padding: 3.5%;
	display: inline-block;
	min-height: 40px;
}

#productInfo {
	float: left;
	width: 25%;
	margin-left: 12.5%;
	text-align: center;
	align-items: center;
}

#productInfo2 {
	float: left;
	width: 25%;
	text-align: center;
	align-items: center;
}

#productInfo3 {
	float: left;
	width: 25%;
	margin-right: 10%;
	text-align: center;
	align-items: center;
}

#walmart-header {
	text-align: center;
	align-content: center;
	font-size: 1.2em;
	background-color: #007dc6;
	width: 100%;
	margin: 0;
	padding: 0;
}

#productName {
	width: 250px;
	margin: .75% .75% 0 .75%;
	background-color: #78b9e7;
	color: white;
	align-content: center;
	/*float: left;*/
}

.prevRef {
	float: left;
	margin-left: 14%;
}

.nextRef {
	float: right;
	margin-right: 14%;
}

.prevRef:hover {
	cursor: pointer;
}

.nextRef:hover {
	cursor: pointer;
}

.container2 {
	width: 100%;
}

.container {
    padding: 16px;
    width: 100%;
}

#totalItems {
	color: white;
	padding-bottom: 1%;
	max-height: 110px;
	width: 100%;
}

#walmart-header {
	text-align: center;
	align-content: center;
	font-size: 1.2em;
	background-color: #007dc6;
	width: 100%;
	margin: 0;
	padding: 0;
}


#productName::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

#productName:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

#productName::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

/* The Modal (background) */
.modal {
	font-family: Verdana;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: auto; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal2 {
	display: inline-block;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}


#cont-1 {
	background-color: #f1f1f1;
  	min-height: 90px;
}

.container_message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.container-1 {
    padding: 16px;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    color: white;
    float: left;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

#signOffbtn {
    background-color: #ea12e7;
    float: right;
    margin-left: 2%;     
}

#registerbtn {
    background-color: #6396ef;
    float: right;    
}

.divLeft {
	width: 33.33%;
	background-color: #007dc6;
	float: left;
	min-height: 80px;
	margin: 0;
}

.divMiddle {
	width: 33.33%;
	background-color: #007dc6;
	float: left;
	align-content: center;
	min-height: 80px;
	margin: 0;
}

.divRight {
	width: 33.33%;
	float: right;
	min-height: 80px;
	background-color: #007dc6;
	margin: 0;
}

#signingIn {    
    background-color: #76c043;
    /*float: left;*/
    float: left;
    padding: 8px 12px;
    margin-left: 2%;
    /*float: right;    */
}

#showWishList {
	float: right;
	margin-right: 2%;
	background-color: #f47321;
    padding: 8px 12px;
    display: none;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.productH2 {
	text-align: center;
}

/* Set a style for all buttons */
button.login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 95%;
}

label{ 
	display:block; 
}

.input1 {
	display: block;
	margin-bottom:12px; 
	width:95%; 
	padding: .4em; 
}

.hidden1 {
	display: none;
	text-align: center;
	color: red;
}














.container3
{
height: 220px;
border: 1px solid lightgrey;
border-radius: 5px;
width: 33%;
}

.line
{
height: 12px;
margin: 10px;
animation: pulse 1s infinite ease-in-out;
-webkit-animation:pulse 1s infinite ease-in-out;
}

.itemSpan div:nth-child(1)
{
/*width: 150px;*/
width: 35%;
}
.itemSpan div:nth-child(2)
{
/*width: 120px;*/
width: 65%;
}
.itemSpan div:nth-child(3)
{
/*width: 230px;*/
width: 85%;
}
.itemSpan div:nth-child(4)
{
/*width: 110px;*/
width: 36%;
}
.itemSpan div:nth-child(5)
{
/*width: 90px;*/
width: 64%;
}
.itemSpan div:nth-child(6)
{
/*width: 135px;*/
width: 40%;
}
.itemSpan div:nth-child(7)
{
/*width: 230px;*/
width: 82%;
}
.itemSpan div:nth-child(8)
{
/*width: 178px;*/
width: 23%;
}
.itemSpan div:nth-child(9)
{
/*width: 140px;*/
width: 61%;
}
.itemSpan div:nth-child(10)
{
/*width: 138px;*/
width: 46%;
}

@keyframes pulse
{
0%{
background-color: rgba(165,165,165,.1);
}
50%{
background-color: rgba(165,165,165,.3);
}
100%{
background-color: rgba(165,165,165,.1);
}
}
@-webkit-keyframes pulse
{
0%{
background-color: rgba(165,165,165,.1);
}
50%{
background-color: rgba(165,165,165,.3);
}
100%{
background-color: rgba(165,165,165,.1);
}
}


