<!DOCTYPE html>
<html>
<head>
	<title>Choose Your Desired Product</title>
	<script type="text/javascript" src="a4.js"></script>
</head>
<body>
	<h2>Please select a product:</h2>
	<p id="product"></p>
</body>
</html>